<html>
<head>
   <title> <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="./css/results.css">
	<script>
		
		function testResults()
		{
			var ingreTable =  document.getElementById('table');
			console.log("Testing...");
			if(ingreTable.rows.length == 4)
			{
				console.log("Query Database -> Passed");
			}
		}
	
	</script>
</head>
<body>
<h1><%= title %></h1>

<!--Using if-check to see if an error occurred and displaying appropriate message-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>

<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>

<table border="0" width='60%' id="table">
    <tr style='text-align:left; background-color:gray'>
        <th>Drink Name</th>
        <th>Ingredients</th>
    </tr>

    <% if (data) { %>
        <% data.forEach(function(drink){ %>
            <tr>
                <td><a href = <%= drink.link %> ><%= drink.name %></a></td>   
                <td><%= drink.ingredients %></td>
            </tr>
        <% }) %>
    <% } %>
</table>

	<script>
		// Unit testing mode
		if(document.URL.includes("test"))
		{
			testResults();
		}
	</script>

<%- include ../layouts/footer.ejs %>